<%- include('header'); %>
  <div class="row">
    <div class="md-8 p-3">
    Welcome to FOAMO
    </div>
  </div>
  <div class="row p-1">
    <div class="md-8">
    Information about game goes here
    </div>
  </div>
  <div class="row p-1">
    <div class="md-8">
    more info
<br><br>
    Note: this is a first beta-test of FOAMO.  The exact rules could change at any time.
    </div>
  </div>
<%- include('footer'); %>
