<%- include('header'); %>
  <div class="row">
    <div class="md-8 p-3">
    <h1 clss="text-center">Welcome to FOAMO!</h1>
<p>
Congratulations on joining the quantum economy!
<p>
Because you've expressed interest in being a cutting edge, early adopter of our new technology,
we are giving you, !!!FREE!!!, one FOAM-O (Fermi-dirac O-State Adiabatic Mechanism - Optimized) 2000 harvester.
This device collects quantum foam, which will be used to power our next generation quantum computers (available soon!)
<p>
Some things to know about your FOAM-O 2000:
<ul>
<li>the collecting capability grows exponentially over time
<li>harvesting the foam will sell it on the Qfoam marketplace, and reset the device to its initial state
<li>observing the device will greatly SLOW its production speed
<li>over time, it will become unstable, and possibly break.  If that happens, we can easily repair it for you, for the cost of $Q1,000,000.
</ul>
    </div>
  </div>
  <div class="row">
    <div class="md-8 text-center p-3">
    Would you like to set a username?
      <form method="POST" action="/newaccount">
      <input name="yourname" id="yourname" type="text" value="" placeholder="your name here" class="form-control">
      <br>
      <input type="submit" name="submitter" value="That's my name!" class="btn btn-primary">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="md-8 text-center p-3">
      <br><br>
      <a id="nonamebutton" href="/randomname" class="btn btn-primary">No! Pick one for me</a>
    </div>
  </div>
<%- include('footer'); %>
